<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="border: #a8a8a8 1px solid; width: 40rem; padding: 1rem;">
    <img src="https://lh5.googleusercontent.com/JRu_leFkOrDTMPMdk2-FQH7mHebf6EEktJPZOu5tlufiOH5T5O7vSXvaqYiMnFkxV1RptMvA3hOW1Tg9W0oD4-svx5IIAC6eguTWZz30f7FwpM23XHBKhJTvuuI8q4MsqQqV8seEtvGSYIL8QwzOzwo"
         width="100rem" alt="">
    <h2 style="background-color:#f9f9f9; text-align:center;">안녕하세요. %받는분%님 네이버 쇼핑몰입니다.</h2>
    <hr/>
    <p style="margin-top:2rem; text-align:center; font-size:large">
        금일 쇼핑몰 주문을 보내드립니다.
    </p>
    <p style="text-align:center; font-size:large">
        확인과 발주 부탁드립니다.
    </p>
    <p style="text-align:center; font-size:large">
        %매니저명% 드림
    </p>
</div>
</body>
</html>
